<div class="main-content">
  <div class="container-fluid">

<div class="main-content">
  <div class="row">
    <div class="col-lg-6 col-md-6">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">today Sales</h5>
          <h4 class="card-title">All products</h4>
        </div>
        <div class="card-body">
          <div class="chart-area">
            
            <canvas id="MyChart"></canvas>
           
          </div>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
</div>
