<div class="login-body">
  <!-- Table -->
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12">
      <div class="card shadow border-0 p-5">
        <div class="form-section">
          <div class="auth-wrapper">
            <h2 class="welcome-msg"> Reset Password </h2>
            <p class="auth-signup-text text-muted">Let Us Help You</p>
            <form class="validate-form" [formGroup]="authForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <span class="error-subheader2 p-t-20 p-b-15">
                    Enter your registered Mobile Number.
                  </span>
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Mobile Number</mat-label>
                    <input matInput type="number" formControlName="number" onmousewheel="return false;" pattern="[6-9]{1}[0-9]{9}" minlength="10" maxlength="10"
                    oninput="this.value.length > this.maxLength ? this.value = this.value.slice(0, this.maxLength): this.value"
                    required>
                    <mat-icon matSuffix>phone</mat-icon>
                    <mat-error *ngIf="authForm.get('number').hasError('required')">
                      Please enter a valid Number address
                    </mat-error>
                    <mat-error *ngIf="authForm.get('number').hasError('pattern')">
                      Number should like (e.g. 9774743643)
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="container-auth-form-btn mt-3">
                <button mat-flat-button color="primary" class="auth-form-btn" [disabled]="!authForm.valid " type="submit">
                  Reset My Password
                </button>
              </div>
              <div class="w-full p-t-25 text-center">
                <div>
                  <a routerLink="/authentication/login" class="">
                    Login?
                  </a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
