<div class="main-content mt-0">
    <div class="row">

        
      <div class="col-lg-12 col-md-12">
        <div class="card card-chart">
          <div class="card-header mb-0 d-flex flex-wrap justify-content-between ">
            <div>
                <h5 class="card-category">Lead Counts</h5>
            <h4 class="card-title">{{due.value}} Count</h4>
            </div>
            <div class="rows">
              <mat-form-field id="date" class="date text-white mr-2" appearance="outline">
                <mat-label>Select Chart Type</mat-label>
                <mat-select #due value="line" class="date text-white">
                  <mat-option *ngFor="let item of chartType" (click)="onSelectChartType(item.value)" [value]="item.value">
                    {{item.key}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field id="date" class="date text-white" appearance="outline">
                <mat-label>Select Duration</mat-label>
                <mat-select #due value="daily" class="date text-white">
                  <mat-option *ngFor="let item of duration" (click)="onSelectDuration(item.value)" [value]="item.value">
                    {{item.key}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <h1 *ngIf="isData">No Data Found!</h1>
          <div class="chart1-area">
              <canvas id="LeadCountChart"></canvas>
            </div>
          </div>
      </div>


      <div class="col-lg-6 col-md-6">
        <div class="card card-chart">
          <div class="card-header mx-2 row d-flex justify-content-between">
            <div>
              <h5 class="card-category">Lead Status</h5>
              <h4 class="card-title">Status Count</h4>
            </div>
            <!-- <div>
              <mat-form-field id="date" class="date text-white mr-2" appearance="outline">
                <mat-label>Select Employee</mat-label>
                <mat-select #due value="All" class="date text-white">
                  <mat-option (click)="onSelectEmp('All')" value="All">
                    All
                  </mat-option>
                  <mat-option *ngFor="let item of empList" (click)="onSelectEmp(item)" [value]="item">
                    {{item.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div> -->
          </div>
          <div class="card-body">
            <div class="chart-area">
              <canvas id="LeadStatusChart"></canvas>
            </div>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-6">
        <div class="card card-chart">
          <div class="card-header">
            <h5 class="card-category">Lead Status</h5>
            <h4 class="card-title">Status Count</h4>
          </div>
          <div class="card-body">
            <div class="chart2-area">
              <canvas id="LeadByEmpCountChart"></canvas>
            </div>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>


  
