    .btn .material-icons {
    margin-top: -10px !important;
    margin-bottom: 0px !important;
    }

    .card-footer {
    border-top: 1px solid #eee !important;
    }

    .form-group {
    padding-bottom: 0px !important;
    position: relative;
    margin-bottom: 0px !important;
    }

    .example-box {
    border: solid 1px #ccc;
    border-radius: 5px;
    }

    .example-box:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
    }

    .product-list-area{
        height: fit-content;
        padding-bottom: 10px;
    }

    .item-description {
    text-align: center;
    height: 10vh;
    overflow: auto;
    overscroll-behavior: contain

    p{
        margin: 0%;
    }
    }

    .item-description::-webkit-scrollbar {
    width: 0px;
    }

    .item-description::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 5px blue;
        border-radius: 10px;
    }

    .item-description:hover::-webkit-scrollbar {
    width: 4px;
    }

    .cart-item-price {
        font-weight: 600;
        margin-top: 10px;
        border: 1px white dotted;
        padding: 5px 10px;
        border-radius: 10px;
    }
    .no-results {
        display: flex;
        justify-content: center;
        font-size: 33px;
        margin: 226px;
    }
