<div class="main">

  <div class="logo">
    <div class="sub-container">
      <img src="assets\img\logo.png" alt="Logo" class="logoImg">
    </div>
  </div>
  <div class="links">
    <div class="sub-container">
      <h1 class="title">Email Us</h1>
      <a href="#" class="email"> customercare@kprfoods.com</a>
    </div>
    <div class="sub-container">
      <h1 class="title">Follow Us</h1>
      <div class="icon-groups">
        <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</div>